.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid #e5e8eb;
  z-index: 100;
  background-color: #ffffff;
}

.navbar-content {
  width: 1140px;
  height: 60px;
  display: flex;
  justify-content: space-between;
}

.navbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-logo span {
  display: block;
  font-size: 20px;
  color: #202632;
}

.log-bold {
  font-weight: 700;
  margin-right: 2px;
}

.log-img {
  display: block;
  width: 25px;
  height: 25px;
  margin-right: 2px;
}

.navbar-list {
  display: flex;
  align-items: center;
}

.navbar-list * {
  margin-right: 15px;
}
