.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid #e5e8eb;
  z-index: 100;
  background-color: #ffffff;
}

.navbar_content {
  width: 1140px;
  display: flex;
  justify-content: space-between;
}

.navbar_logo {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar_list {
  display: flex;
  align-items: center;
}

.navbar_list * {
  margin-right: 15px;
}
