details {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

summary {
  list-style-type: none;
  margin: 0px;
  width: 100%;
  padding: 5px;
  padding-bottom: 0;
}

summary:hover {
  color: white;
  background: #0080ff;
}

#tree-menu-body .tree-summary:hover {
  color: white;
  background: #0080ff;
}
#tree-menu-body details,
#tree-menu-body li {
  padding: 8px 0 0 16px;
  position: relative;
  line-height: 1.2;
}

#tree-menu-body details[open] > ul {
  display: block;
}

#tree-menu-body details[open] > .tree-summary::after {
  border-radius: 0 0.3em 0 0;
  border-top: 1px solid #bdbdbd;
  border-right: 1px solid #bdbdbd;
  border-bottom: 0;
  border-left: 0;
  float: left;
  width: 0.7em;
  height: 1em;
  margin: 0.4em 0 0 -1.4em;
  content: "";
}

#tree-menu-body details[open] > .tree-summary::before {
  content: "–";
}

#tree-menu-body .tree-summary::before {
  background: #0080ff;
  color: #fff;
  position: relative;
  z-index: 1;
  float: left;
  margin: 0 1em 0 -2.2em;
  width: 1em;
  height: 1em;
  border-radius: 1em;
  content: "+";
  text-align: center;
  line-height: 0.9em;
}

#tree-menu-body details:last-child::before,
#tree-menu-body li:last-child::before {
  height: 1em;
  bottom: auto;
}

#tree-menu-body details::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -0.4em;
  display: block;
  width: 0;
  border-left: 1px solid #bdbdbd;
  content: "";
}

#tree-menu-body li::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -0.5em;
  display: block;
  width: 0;
  border-left: 1px solid #bdbdbd;
  content: "";
}

#tree-menu-body .tree-a,
#tree-menu-body .tree-summary {
  position: relative;
  display: inline-block;
  background: #ffff;
}

#tree-menu-body .tree-a::after {
  position: absolute;
  top: 0.5em;
  left: -1.5em;
  display: block;
  height: 0.5em;
  width: 1em;
  border-bottom: 1px solid #bdbdbd;
  border-left: 1px solid #bdbdbd;
  border-radius: 0 0 0 0.3em;
  content: "";
}

#tree-menu-body .tree-a:hover {
  color: #0080ff;
  cursor: pointer;
}

#tree-menu-body .tree-a {
  width: 100%;
  height: 100%;
}
